@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    background-color: #222831;
    justify-content: space-around;
    padding: 1rem 0;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.header__logo {
    color: #eeeeee;
    font-weight: 500;
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__item {
    margin: 0 8px;
}

.nav__link {
    padding: 10px;
    color: #eeeeee;
    font-size: 0.9rem;
    border-radius: 5px;
}

.nav__link:hover {
    background-color: #00adb5;
}

.header__toggle {
    font-size: 24px;
    color: #eeeeee;
    display: none;
}

.header__close {
    color: #eeeeee;
    display: none;
}

@media screen and (max-width: 768px) {
    header {
        height: 48px;
        justify-content: space-between;
        padding: 0 28px;
    }
    .logo a {
        font-size: 0.9rem;
    }
    .logo img {
        width: 30px;
    }
    .header__toggle {
        display: inline;
    }
    .header__close {
        position: absolute;
        right: 24px;
        display: block;
        font-size: 24px;
        border-radius: 50%;
    }
    .header__close:hover {
        background-color: #00adb5;
    }
    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        /* flex-direction: column; */
        background-color: #222831;
        color: #eeeeee;
        width: 60%;
        height: 100vh;
        padding: 24px 0;
        z-index: 100;
        transition: 0.5s;
        border-radius: 0 0 0 50%;
    }
    .nav__list {
        display: flex;
        flex-direction: column;
    }
    .nav__item {
        margin: 2rem 0;
    }
    .show {
        right: 0;
    }
}